
<% content_for :head do -%>
  <%= stylesheet_link_tag 'shopping_cart_page.css' %>
<% end %>


<div id='cart-items-wrapper' class='items-wrapper nine coloumns last'>
  <% if  @cart_items.blank? && @saved_cart_items.empty? %>
    <h2 style='text-align:center;'> <%= I18n.t(:nothing_in_cart) %></h2>
  <% elsif  @cart_items.blank? %>
    <h2 style='text-align:center;'> <%= I18n.t(:only_items_saved_for_later) %></h2>
    <div class='panel graceful'> <h3 style='text-align:center;color:#333;'> <%= I18n.t(:add_items_saved_for_later) %> </h3> </div>
  <% end %>

  